<form [formGroup]="formulario" (ngSubmit)="login()">
    <div class="row contenedor">
        <h4 class="mt-3 mb-3" style="margin: auto;">LOGIN CRUD HEROES</h4>
        <div class="form-row">
            <div class="col-12 mb-3">
                <input type="email" formControlName="email" class="form-control campo" placeholder="mail@mail.com">
                <small *ngIf="emailNoValido" class="text-danger">Ingrese al menos 5 caracteres y un formato de correo valido</small>
            </div>
            <div class="col-12 mb-3">
                <input type="password" formControlName="password" class="form-control campo" placeholder="Password">
                <small *ngIf="passwordNoValido" class="text-danger">Ingrese al menos 8 caracteres</small>
            </div>
            <div class="col-md-6">
                <div class="form-check">
                    <input formControlName="recordar" class="form-check-input" type="checkbox" id="recordarUsuario">
                    <label class="form-check-label" for="recordarUsuario">Recordar mi usuario</label>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <a routerLink="/auth/registrarUsuario">¿No tienes cuenta? </a>
            </div>
            <button class="btn btn-outline-primary btn-block mt-4 mb-4 campo" type="submit">
                Ingresar
            </button>
        </div>


    </div>
</form>